{% extends "layout.html" %}

{% block title %}Step 2/3: Define data{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Step 2/3: Define data</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Original data</h2>
            <table class="table">
                <tr>
                    <th>City</th>
                    <th>Value</th>
                </tr>   
                {% for row in raw %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-6">
            <h2>Computed data</h2>
            <table class="table">
                <tr>
                    <th>City</th>
                    <th>Value</th>
                </tr>   
                {% for row in computed %}
                <tr>
                    {% for column in row %}
                    <td>{{ column }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/add/03" class="btn btn-primary">Next</a>
            <a href="/add/02" class="btn btn-default">Change columns data</a>
        </div>
    </div>
</div>

{% endblock %}

